a{
    text-decoration: none;
    color: blue;
}

a:hover{
    text-decoration: underline;
    color: red;
}

img{
    border-radius: 15%;
    border-width: 2px;
    border-color: rgba(3, 66, 66, 0.6);
    border-style: solid;
}

body{
    background-color: rgba(9, 19, 19, 0.25);
    margin: 2em;
}

div{
    max-width: 700px;
    min-height: 200px;
}

div h4{
    text-align: center;
    font-size: 18px;
}

div p{
    margin-top: 50px;
    margin-left: 150px;
    line-height: 1.5em;
    text-align: center;
}

div img{
    width: 150px;
    float: left;
    padding: 2.5px;
}

#Return{
    margin-left: 150px;
}